openapi: 3.1.0
info:
  title: Announcement Service
  version: 0.0.0
tags:
  - name: Announcements
paths:
  /announcements:
    get:
      operationId: Announcements_list
      description: List announcements
      parameters:
        - name: isActive
          in: query
          required: false
          schema:
            type: boolean
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Announcement'
      tags:
        - Announcements
components:
  schemas:
    Announcement:
      type: object
      required:
        - id
        - title
        - date
        - url
        - isActive
      properties:
        id:
          type: string
        title:
          type: string
        date:
          type: string
          format: date-time
        url:
          type: string
          format: uri
        isActive:
          type: boolean
